#set($layout="layout/nolayout.vm")

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>

    <title>Fast Return</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>


    <!-- include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js) -->
    <link rel="stylesheet" type="text/css"
          href="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
    <link rel="stylesheet" type="text/css"
          href="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/css/fileinput.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput_locale_zh.min.js"></script>

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
</head>


<body>

    <div style="background-color:white;" class="container">

        <div class="page-header">
            <h3>发表:</h3>
            <h6 style="color: red;">$!msg</h6>
        </div>

        <ul class="nav nav-pills nav-stacked col-md-2" role="tablist">
            <li role="presentation" class="active">
                <a href="#standard" aria-controls="standard" role="tab" data-toggle="tab">普通文章</a>
            </li>
            <li role="presentation">
                <a href="#gallery" aria-controls="link" role="tab" data-toggle="tab">图集分享</a>
            </li>
            <li role="presentation">
                <a href="#link" aria-controls="link" role="tab" data-toggle="tab">外部链接</a>
            </li>
            <li role="presentation">
                <a href="#quote" aria-controls="quote" role="tab" data-toggle="tab">引用</a>
            </li>
        </ul>

        <div class="tab-content col-md-10">
            <div role="tabpanel" class="tab-pane active" id="standard">
                <form class="form-horizontal" method="POST">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    <input type="hidden" id="content" name="content" value="">
                    <input type="hidden" name="type" value="standard">

                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="title">标题</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="title" name="title" placeholder="请输入文章标题"
                                   value="$!blog.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="name">分类</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="category" name="category" placeholder="请输入文章分类"
                                   value="$!blog.category">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="">标签</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="address" name="address" placeholder="活动地点"
                                   value="$!activity.address">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="">正文</label>

                        <div class="col-sm-10">
                            <div id="summernote">
                                $!{blog.content}
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-success col-sm-offset-10" onclick="doEdit()">
                        创建
                    </button>

                </form>

            </div>

            <div role="tabpanel" class="tab-pane" id="gallery">
                <form class="form-horizontal" method="POST">
                    <input type="hidden" name="${_csrf.parameterName}"
                           value="${_csrf.token}">

                    <input type="hidden" id="desc" name="desc" value="">

                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="name">上传图片</label>

                        <div class="col-sm-10">
                            <input id="file-Portrait" type="file" name="image[]" multiple class="file"
                                   value="${deal.image}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="">描述</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="address" name="address" placeholder="活动地点"
                                   value="$!activity.address">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success col-sm-offset-10" onclick="doEdit()">
                        创建
                    </button>

                </form>

            </div>

            <div role="tabpanel" class="tab-pane" id="link">
                <form class="form-horizontal" method="POST">
                    <input type="hidden" name="${_csrf.parameterName}"
                           value="${_csrf.token}">

                    <input type="hidden" id="desc" name="desc" value="">

                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="name">标题</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="name" name="name" placeholder="作者,书名,网址"
                                   value="$!activity.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="name">URL</label>

                        <div class="col-sm-10">
                            <input class="form-control" id="address" name="address" placeholder=""
                                   value="$!activity.address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="name">描述</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" id="address" name="address" placeholder=""
                                      value="$!activity.address">
                                </textarea>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-success col-sm-offset-10" onclick="doEdit()">
                        创建
                    </button>

                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="quote">

                <form class="form-horizontal" method="POST">
                    <input type="hidden" name="${_csrf.parameterName}"
                           value="${_csrf.token}">

                    <input type="hidden" id="desc" name="desc" value="">

                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="name">引自于</label>

                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="name" name="name" placeholder="作者,书名,网址"
                                   value="$!activity.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="name">内容</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" id="address" name="address" placeholder=""
                                      value="$!activity.address">
                                </textarea>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-success col-sm-offset-10" onclick="doEdit()">
                        创建
                    </button>

                </form>
            </div>

        </div>

    </div>


</body>


<script type="text/javascript">

    $('#summernote').summernote({
        height: 500,
        codemirror: {
            theme: 'monokai'
        },

        callbacks: {
            onImageUpload: function(files) {

                data = new FormData();
                data.append("file", files[0]);

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    data:data,
                    type: "POST",
                    url: "/upload/user/image",
                    datatype: 'json',
                    cache: false,
                    processData: false,
                    contentType: false,

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },

                    success: function (data) {
                        console.log("success:" + data['url']);
                        $('#summernote').summernote('insertImage', data['url'], "上传图片");
                    }

                });
            }
        }
    });

</script>


<script>
    function initFileInput(ctrlName, uploadUrl) {
        var control = $('#' + ctrlName);

        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: uploadUrl, //上传的地址
            allowedFileExtensions: ['jpg', 'png', 'gif', 'jpeg'],//接收的文件后缀
            showUpload: false, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        });
    }

    $('#file-Portrait').fileinput({
        language: 'zh', //设置语言
        maxFileCount: 100,
        showUpload: false, //是否显示上传按钮
        showCaption: true,//是否显示标题
        showClose: false,
        browseClass: "btn btn-primary", //按钮样式
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        initialPreview: [
            "<div class='file-preview-other'>选择自己喜欢的图片</div>",

        ],
    });
</script>

<script>
    function doEdit() {
        $("#content").val($('#summernote').summernote('code'));
        this.parent.submit;
    }
</script>

</html>




