#set($layout="layout/admin/adminDefault.vm")


<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/css/fileinput.min.css">
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">


<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput_locale_zh.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<div id="primary" class="content-area">
    <div class="primary-inner">
        <div class="site-content" role="main">

            <header class="page-header" style="border-bottom: 5px solid #333333; margin-bottom: 40px;">
                <h1 class="page-title" style="font-size: 38px; line-height: 1.3;color: #333333">分享

                    #if($!type == 'standard')
                        <small>普通文章</small>
                    #elseif($!type == 'gallery')
                        <small>图片</small>
                    #elseif($!type == 'quote')
                        <small>感悟</small>
                    #elseif($!type == 'link')
                        <small>链接</small>
                    #end

                </h1>
            </header>

            #if($!type == 'standard')
                <div class="tab-pane" id="standard">
                    <form class="form-horizontal" method="POST" action="/admin/blog/create">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                        <input type="hidden" id="content" name="content" value="">

                        <div class="col-md-12">
                            <input class="form-control" type="text" id="title" name="title" placeholder="文章标题"
                                   value="$!blog.title">
                        </div>
                        <div class="col-md-12">
                            <select name="category" class="form-control">
                                <option value="">默认分类</option>
                                #foreach($category in $user.categoryMap.keySet())
                                    <option value="$!category" >$!category</option>
                                #end
                            </select>
                        </div>
                        <div class="col-md-12" style="margin-top: 15px;">
                            <div id="summernote" >
                                $!{blog.content}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success col-sm-offset-10" onclick="doEdit()">
                            创建
                        </button>

                    </form>

                </div>
            #elseif($!type == 'gallery')
                <div class="tab-pane" id="gallery">

                    <form class="form-horizontal" method="POST" enctype="multipart/form-data"
                          action="/admin/gallery/create?${_csrf.parameterName}=${_csrf.token}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">

                        <div class="col-md-12 form-group">
                            <input id="file-Portrait" type="file" name="images" multiple class="file form-control"/>
                        </div>

                        <div class="col-md-12 form-group">
                            <input class="form-control" name="desc" type="text" placeholder="描述..." value="">
                        </div>

                        <div class="col-md-12 form-group">
                            <select name="category" class="form-control">
                                <option value="">默认分类</option>
                                #foreach($category in $user.categoryMap.keySet())
                                    <option value="$!category" >$!category</option>
                                #end
                            </select>
                        </div>
                        <div class="col-md-12 form-group" style="margin-top: 40px">
                            <button type="submit" class="btn btn-success pull-right">
                                创建
                            </button>
                        </div>

                    </form>

                </div>

            #elseif($!type == 'quote')
                <div role="tabpanel" class="tab-pane" id="quote">


                    <form class="form-horizontal" method="POST" action="/admin/quote/create">
                        <input type="hidden" name="${_csrf.parameterName}"
                               value="${_csrf.token}">

                        <div class="col-md-12">
                            <select name="category" class="form-control">
                                <option value="">默认分类</option>
                                #foreach($category in $user.categoryMap.keySet())
                                    <option value="$!category" >$!category</option>
                                #end
                            </select>
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control" name="content" placeholder="内容" value="">
                                </textarea>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="text" name="cite" placeholder="引自于(作者,书名,网址)..."
                                   value="">
                        </div>


                        <div class="col-md-12 form-group" style="margin-top: 40px">
                            <button type="submit" class="btn btn-success pull-right">
                                创建
                            </button>
                        </div>

                    </form>
                </div>
            #elseif($!type == 'link')
                <div class="tab-pane" id="link">


                    <form class="form-horizontal" method="POST" action="/admin/link/create">
                        <input type="hidden" name="${_csrf.parameterName}"
                               value="${_csrf.token}">

                        <div class="col-md-12">
                            <select name="category" class="form-control">
                                <option value="">默认分类</option>
                                #foreach($category in $user.categoryMap.keySet())
                                    <option value="$!category" >$!category</option>
                                #end
                            </select>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="title" value="" placeholder="站点名称">
                        </div>
                        <div class="col-md-12">
                            <input class="form-control" name="url" placeholder="" value="">
                        </div>

                        <div class="col-md-12 form-group" style="margin-top: 40px">
                            <button type="submit" class="btn btn-success pull-right">
                                创建
                            </button>
                        </div>

                    </form>
                </div>
            #end

        </div>
    </div>
</div>


<script type="text/javascript">

    $('#summernote').summernote({
        height: 500,
        codemirror: {
            theme: 'monokai'
        },

        callbacks: {
            onImageUpload: function (files) {

                data = new FormData();
                data.append("file", files[0]);

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    data: data,
                    type: "POST",
                    url: "/upload/user/image",
                    datatype: 'json',
                    cache: false,
                    processData: false,
                    contentType: false,

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },

                    success: function (data) {
                        console.log("success:" + data['url']);
                        $('#summernote').summernote('insertImage', data['url'], "上传图片");
                    }

                });
            }
        }
    });

</script>


<script>

    $('#file-Portrait').fileinput({
        language: 'zh', //设置语言
        maxFileCount: 6,
        showUpload: false, //是否显示上传按钮
        showCaption: true,//是否显示标题
        showClose: false,
        browseClass: "btn btn-primary", //按钮样式
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        initialCaption: "请选择要分享的图集",
        allowedFileExtensions: ['jpg', 'png', 'gif', 'jpeg'],//接收的文件后缀
    });
</script>

<script>
    function doEdit() {
        $("#content").val($('#summernote').summernote('code'));
        this.parent.submit;
    }
</script>

