<div id="primary" class="content-area">
    <div class="primary-inner">
        <div id="content" class="site-content" role="main">
            <article id="post-96" class="post-96 page type-page status-publish hentry">
                <header class="page-header">
                    <h1 class="page-title">关于我</h1>
                </header>
                <div class="page-content">
                    <h3>工作和教育</h3>
                    <p>四川大学研究生毕业,后于阿里巴巴集团,蚂蚁金服集团工作,任职研发工程师.热爱开发,热爱代码;在搜索引擎,推荐系统,web开发都有相关工作经验</p>
                    <ol class="timeline">
                        <li class="tl-wrap pull-left tl-danger">
                            <strong class="tl-title">蚂蚁金服</strong>
                            <span class="tl-content">
                                <div>Java研发工程师</div>
                                <div>2015.8 - 至今</div>
                            </span>
                        </li>
                        <li class="tl-wrap pull-right">
                            <strong class="tl-title">阿里巴巴-聚划算</strong>
                            <span class="tl-content">
                                <div>Java研发工程师</div>
                                <div>2014.6 - 2015.8</div>
                            </span>
                        </li>
                        <li class="tl-wrap pull-left">
                            <strong class="tl-title">四川大学</strong>
                            <span class="tl-content">
                                <div>计算机科学与技术</div>
                                <div>2011.9 - 2014.6</div>
                            </span>
                        </li>
                        <li class="tl-wrap pull-right">
                            <strong class="tl-title">四川师范大学</strong>
                            <span class="tl-content">
                                <div>电子信息工程</div>
                                <div>2006.9 - 2010.6</div>
                            </span>
                        </li>

                    </ol>
                    <h3>专业技能</h3>
                    <div class="row-fluid">
                        <div class="span2">
                            <strong>Photoshop</strong>
                        </div>
                        <div class="span10">
                            <div class="progress progress-info">
                                <div class="bar" style="width: 60%">6/10</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">
                            <strong>HTML &amp; CSS</strong>
                        </div>
                        <div class="span10">
                            <div class="progress progress-success">
                                <div class="bar" style="width: 70%">7/10</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">
                            <strong>JavaScript<br>
                            </strong>
                        </div>
                        <div class="span10">
                            <div class="progress progress-warning">
                                <div class="bar" style="width: 80%">8/10</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2">
                            <strong>PHP</strong>
                        </div>
                        <div class="span10">
                            <div class="progress progress-danger">
                                <div class="bar" style="width: 90%">9/10</div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<style>
    .accordion-heading .accordion-toggle {
        background: #76C5C0;
    }
</style>


<div id="secondary" class="widget-area" role="complementary" >

    <header class="page-header">
        <h1 class="page-title">项目经历</h1>
    </header>

    <aside class="widget dw_accordion news-accordion">
        <div class="accordion" >
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle active" data-toggle="collapse">商品搜索应用重构</a>
                </div>
                <div class="widget_text-dw-widget-1  accordion-body collapse in widget_text ">
                    <div class="accordion-inner">
                        <h3 class="widget-title">商品搜索应用重构</h3>

                        <div class="page-content">
                            <span>四川大学研究生毕业,后于阿里巴巴集团,蚂蚁金服集团工作,任职研发工程师.热爱开发,热爱代码;在搜索引擎,推荐系统,web开发都有相关工作经验</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <aside id="dw_accordions-4" class="widget dw_accordion news-accordion">
        <div class="accordion" id="accordion-dw_accordions-4">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle active"
                                                  data-toggle="collapse"
                                                  data-parent="#accordion-dw_accordions-4"
                                                  href="http://demo.designwall.com/dw-minion/#dw_accordions-4-text-dw-widget-1">全链路资金管控</a>
                </div>
                <div id="dw_accordions-4-text-dw-widget-1"
                     class="widget_text-dw-widget-1  accordion-body collapse in widget_text">
                    <div class="accordion-inner">
                        <h3 class="widget-title">全链路资金管控</h3>
                        <div class="page-content">
                            <span>四川大学研究生毕业,后于阿里巴巴集团,蚂蚁金服集团工作,任职研发工程师.热爱开发,热爱代码;在搜索引擎,推荐系统,web开发都有相关工作经验</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading"><a class="accordion-toggle collapsed"
                                                  data-toggle="collapse"
                                                  data-parent="#accordion-dw_accordions-4"
                                                  href="http://demo.designwall.com/dw-minion/#dw_accordions-4-text-dw-widget-2">疲劳期项目</a>
                </div>
                <div id="dw_accordions-4-text-dw-widget-2"
                     class="widget_text-dw-widget-2  accordion-body collapse  widget_text">
                    <div class="accordion-inner">
                        <h3 class="widget-title">疲劳期项目</h3>
                        <div class="page-content">
                            <span>四川大学研究生毕业,后于阿里巴巴集团,蚂蚁金服集团工作,任职研发工程师.热爱开发,热爱代码;在搜索引擎,推荐系统,web开发都有相关工作经验</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading"><a class="accordion-toggle collapsed"
                                                  data-toggle="collapse"
                                                  data-parent="#accordion-dw_accordions-4"
                                                  href="http://demo.designwall.com/dw-minion/#dw_accordions-4-text-dw-widget-3">后台重构</a>
                </div>
                <div id="dw_accordions-4-text-dw-widget-3"
                     class="widget_text-dw-widget-3  accordion-body collapse  widget_text">
                    <div class="accordion-inner">
                        <h3 class="widget-title">后台重构项目</h3>
                        <div class="page-content">
                            <span>四川大学研究生毕业,后于阿里巴巴集团,蚂蚁金服集团工作,任职研发工程师.热爱开发,热爱代码;在搜索引擎,推荐系统,web开发都有相关工作经验</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <aside id="text-3" class="widget widget_text">
        <div class="textwidget"><a href="http://bit.ly/tf-wallclassic"><img
                src="" alt=""></a></div>
    </aside>
</div>
