<div id="primary" class="content-area">
    <div class="primary-inner">
        <div id="content" class="site-content" role="main">


            <header class="page-header">
                <h1 class="page-title">$!category</h1>
            </header>
            <div class="page-content">
                #foreach($blog in $!blogList)
                    <article id="$blog.id"
                             class="post-33 post type-post status-publish format-standard has-post-thumbnail hentry category-delicious category-freelancing category-photography tag-playing tag-shopping">
                        <header class="entry-header" style="margin-bottom: 30px;">
                                <a href="/blog/$blog.id" rel="bookmark" class="h5">$blog.title</a>
                                <small class="pull-right" style="margin:auto 60px auto 5px; ">$DateUtil.longFormat($!blog.gmtCreate)</small>

                            <div class="entry-meta" style="margin-bottom: 30px;">
                                <span class="sep" style="margin-top: 5px;">
                                    <span class="post-format">
                                        <i class="icon-file-text"></i>
                                    </span>
                                </span>
                            </div>
                        </header>

                    </article>
                #end
            </div>


        </div>
    </div>
</div>