<div id="primary" class="content-area">
    <div class="primary-inner">
        <div id="content" class="site-content" role="main">

            <article class="page type-page status-publish hentry">
                <header class="page-header">
                    <h1 class="page-title">联系方式</h1>
                    <small>一份好的联系方式,是您敲开"世界"的开始</small>
                </header>
                <div class="page-content">
                    <div class="map">
                    </div>
                    <div class="contact-info style-content-2">
                        <ul class="style-1 pull-left">
                            <li>
                              <span class="text-icon-left">
                                  <i class="fa fa-phone-square"></i>
                                  <span>手机</span>
                              </span>
                                <span class="pull-right">
                                    $!user.contactMap.get("Phone")
                                </span>
                            </li>
                            <li>
                                <span class="text-icon-left">
                                    <i class="fa fa-qq"></i>
                                    <span>QQ</span>
                                </span>
                                <span class="pull-right">$!user.contactMap.get("QQ")</span>
                            </li>
                            <li>
                                <span class="text-icon-left">
                                    <i class="fa fa-linkedin-square"></i>
                                    <span>LinkedIn</span>
                                </span>
                                <span class="pull-right">
                                    <a>$!user.contactMap.get("LinkedIn")</a>
                                </span>
                            </li>
                        </ul>
                        <ul class="style-1 pull-right">
                            <li>
                                <span class="text-icon-left">
                                    <i class="fa fa-envelope-square">
                                    </i>
                                    <span>邮箱</span>
                                </span>
                                <span class="pull-right">$!user.contactMap.get("Email")</span>
                            </li>
                            <li>
                                <span class="text-icon-left">
                                    <i class="fa fa-weixin"></i>
                                    <span>微信</span>
                                </span>
                                <span class="pull-right">
                                        $!user.contactMap.get("WeiXin")
                                </span>
                            </li>
                            <li>
                                <span class="text-icon-left">
                                    <i class="fa fa-github-square">
                                    </i>
                                    <span>GitHub</span>
                                </span>
                                <span class="pull-right">$!user.contactMap.get("GitHub")</span>
                            </li>
                        </ul>
                    </div>
                    <form>
                        <fieldset>
                            <legend>给我留言...</legend>
                            <p>
                                <label>
                                    <label>内容:<br>
                                        <textarea class="input-block-level"></textarea>
                                    </label>
                                </label>
                            </p>

                            <button type="submit" class="btn btn-success pull-right">确定</button>
                        </fieldset>
                    </form>
                </div>
            </article>
        </div>
    </div>
</div>


