<div id="primary" class="content-area">
    <div class="primary-inner">
        <div id="content" class="site-content content-list" role="main">

            #foreach($blog in $!kLatestBlog)

                #if($!blog.type.code == 'STANDARD')

                    <article id="$blog.id"
                             class="post-33 post type-post status-publish format-standard has-post-thumbnail hentry category-delicious category-freelancing category-photography tag-playing tag-shopping">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="/blog/$blog.id" rel="bookmark">$blog.title</a>
                            </h2>
                            <div class="entry-meta">
                                <span class="byline">By
                                    <span class="author vcard">
                                        <a class="url fn n" href="#">$blog.creatorNickName</a>
                                    </span>
                                </span>
                                <span class="cat-links"> in
                                    <a href="#">类目1</a>,
                                    <a href="#">类目2</a>,
                                    <a href="#">类目3</a>
                                </span>
                                <span class="sep">
                                    <span class="post-format">
                                        <i class="icon-file-text"></i>
                                    </span>
                                </span>
                                <span class="posted-on">
                                    <a href="#" title="$!blog.gmtCreate" rel="bookmark">
                                        <i class="icon-calendar-empty"></i>
                                        <time class="entry-date published" datetime="$!blog.gmtCreate">
                                            $DateUtil.longFormat($!blog.gmtCreate)
                                        </time>
                                    </a>
                                </span>
                                <span class="comments-link">
                                    <a href="/blog/$blog.id#comments">
                                        <i class="icon-comment-alt"></i> $!commentList.size() 评论
                                    </a>
                                </span>
                            </div>
                        </header>

                        <div class="entry-thumbnail">
                            <a href="#">
                                <img width="620" height="350"
                                     src="http://freturn.oss-cn-hangzhou.aliyuncs.com/img/lyt.jpeg"
                                     class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                     alt="demo"
                                     sizes="(max-width: 620px) 100vw, 620px">
                            </a>
                        </div>
                        <div class="entry-content">
                            <p>$!blog.contentMap.get("content")

                                <a href="/blog/$blog.id" class="more-link">
                                    <span class="btn btn-small">继续阅读</span>
                                </a>
                            </p>
                        </div>
                    </article>

                #elseif($!blog.type.code == 'LINK')
                    <article id="$blog.id"
                             class="post-13 post type-post status-publish format-link hentry category-delicious category-photography tag-dancing tag-shopping post_format-post-format-link">
                        <header class="entry-header">
                            <h2 class="entry-title"><a href="/blog/$blog.id"
                                    rel="bookmark">$blog.title</a></h2></header>
                        <div class="entry-content">
                            <p><a title="$!blog.contentMap.get("title")" href="$!blog.contentMap.get("url")"
                                  target="_blank">$!blog.contentMap.get("url")</a></p>
                        </div>
                    </article>

                #elseif($!blog.type.code == 'QUOTE')
                    <article id="$blog.id"
                             class="post-29 post type-post status-publish format-quote hentry category-freelancing category-journal tag-playing tag-sport tag-travel post_format-post-format-quote">
                        <header class="entry-header">
                            <div class="entry-meta">
                            <span class="posted-on">
                                <a href="#" title="$!blog.gmtCreate" rel="bookmark">
                                    <i class="icon-calendar-empty"></i>
                                    <time class="entry-date published" datetime="$!blog.gmtCreate">
                                        $DateUtil.longFormat($!blog.gmtCreate)
                                    </time>
                                </a>
                            </span>
                            <span class="comments-link">
                                <a href="/blog/$blog.id#comments">
                                    <i class="icon-comment-alt"></i> $!commentList.size() 评论
                                </a>
                            </span>
                            </div>
                        </header>
                        <div class="entry-content">
                            <blockquote>
                                <a href="/blog/$blog.id" rel="bookmark" style="text-decoration:none">
                                    <p>$!blog.contentMap.get("content")</p>
                                </a>

                                <div>
                                    <cite>
                                        <strong>$!blog.contentMap.get("cite")</strong>
                                    </cite>
                                </div>
                            </blockquote>
                        </div>
                    </article>

                #elseif($!blog.type.code == 'GALLERY')

                    <article id="$"
                             class="post-190 post type-post status-publish format-gallery hentry category-freelancing category-journal tag-dancing tag-my-family tag-playing post_format-post-format-gallery">
                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="/blog/$blog.id" rel="bookmark">$blog.title</a>
                            </h2>

                            <div class="entry-meta">
                                <span class="sep">
                                            <span class="post-format">
                                                 <i class="icon-file-text"></i>
                                            </span>
                                </span>
                                <span class="posted-on">
                                            <a href="#" title="$!blog.gmtCreate" rel="bookmark">
                                                <i class="icon-calendar-empty"></i>
                                                <time class="entry-date published" datetime="$!blog.gmtCreate">
                                                    $DateUtil.longFormat($!blog.gmtCreate)
                                                </time>
                                            </a>
                                </span>
                                <span class="comments-link">
                                            <a href="/blog/$blog.id#comments">
                                                <i class="icon-comment-alt"></i> $!commentList.size() 评论
                                            </a>
                                </span>

                            </div>
                        </header>
                                <div class="entry-content">
                                    <div class="entry-gallery">
                                        <div id="carousel-1" class="carousel slide carousel-190">
                                            #set($iuArray = $!blog.contentMap.get("imageUrlList"))
                                            <ol class="carousel-indicators">
                                                #foreach($imgUrl in $iuArray)
                                                    <li class="#if($velocityCount == 1) active #end" data-slide-to="$velocityCount" data-target="#carousel-1"></li>
                                                #end
                                            </ol>
                                            <div class="carousel-inner">
                                                #foreach($imgUrl in $iuArray)
                                                    <div class="item #if($velocityCount == 1) active #end">
                                                        <div class="carousel-icon">
                                                            <a href="#">
                                                                <img width="620" height="350"
                                                                     src="$imgUrl"
                                                                     class="attachment-620x350 size-620x350"
                                                                     sizes="(max-width: 620px) 100vw, 620px"></a>
                                                        </div>
                                                    </div>
                                                #end

                                            </div>
                                            <a data-slide="prev" href="#carousel-1" class="carousel-control left"><i
                                                    class="icon-chevron-left"></i>
                                            </a>
                                            <a data-slide="next" href="#carousel-1" class="carousel-control right">
                                                <i class="icon-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <p>$!blog.contentMap.get("desc")</p>


                                </div>
                    </article>


                #end


            #end





            <nav role="navigation" id="nav-below" class="paging-navigation pager">
                <div class="nav-previous">
                    <span class="btn disabled"><i class="icon-chevron-left"></i></span>
                </div>
                <div class="nav-next">
                    <a href="http://demo.designwall.com/dw-minion/page/2/"><span
                            class="meta-nav btn"><i class="icon-chevron-right"></i></span></a></div>
            </nav>
        </div>
    </div>
</div>
