<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>

    <title>FReturn</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/modern-business.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<style type="text/css">
    body {
        margin: 0;
        height: 100%;
        max-height: 100%;
        font-family: "Helvetica neue", Helvetica, Tahoma, "PingFang SC", "lantinghei sc", "Microsoft Yahei", sans-serif;
        font-size: 16px;
        /* font-size: 1.6rem; */
        line-height: 1.6;
        color: #3A4145;
        background: #ECF0F1;
        font-weight: 400;
        -webkit-font-feature-settings: 'kern' 1;
        -moz-font-feature-settings: 'kern' 1;
        -o-font-feature-settings: 'kern' 1;
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased;
    }

    a {
        color: #18BC9C;
        transition: color 0.3s ease;
        text-decoration: none;

    }

    .sidebar {
        padding-right: 0px;
        padding-left: 10px;
        margin-top: 10px;
    }

    .toplist {
        background-color: white;
        padding: 15px;
        margin-bottom: 10px;
        min-height: 200px;
    }

    .main-content-white {
        background-color: white;
        padding: 15px;
        min-height: 600px;
        margin-top: 10px;
    }

    img{
        display: block;
        max-width: 100%;
        height: auto;
    }


</style>


<body>

<script src="http://cdn.gbtags.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.gbtags.com/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>

<div class="container">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="border-color:white; background-color:#2C3E50; ">
    <div class="container-fluid" style="margin-left: 20px;margin-right: 20px;">
        <div class="navbar-header" style="margin-right: 80px;">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" style="background-color: #5CB85C;"></span>
                <span class="icon-bar" style="background-color: #5CB85C;"></span>
                <span class="icon-bar" style="background-color: #5CB85C;"></span>
                </button>
            <a class="navbar-brand" href="/" style="color:white;">快反</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a href="#" style="color:white;">首页</a></li>
                <li><a href="/testGetJson" style="color:white;">热点</a></li>
                <li><a href="/testGetJson" style="color:white;">联系</a></li>
            </ul>

        <ul class="nav navbar-nav navbar-right">
        ##搜索框在移动设备上不折叠
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="此功能暂未开放..."
                           style="border:1px solid white; width: 250px;">
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </form>

            #if($loginUser.login)
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       style="color:white;">$!loginUser.nickName</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">修改昵称</a>
                        </li>
                        <li>
                            <a href="#" class="logout">注销</a>
                        </li>

                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white;">团队<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        #if($loginUser.allTeam.size() == 0)
                            <li>
                                <a href="#">您还没有加入任何团队</a>
                            </li>
                        #end

                        #foreach($team in $loginUser.allTeam)
                            <li>
                                <a href="/team/home?id=$team.teamId">$team.teamName</a>
                            </li>
                        #end
                    </ul>
                </li>
            #else
                <li><a href="/login" style="color:white;">登录</a></li>
                <li><a href="/register" style="color:white;">注册</a></li>
            #end

        </ul>

            </div>
    </div>
</nav>




#*注销表单*#
<form action="/logout" method="post" id="logoutForm">
    <input type="hidden" name="${_csrf.parameterName}"
           value="${_csrf.token}"/>

</form>


    $screen_content



<footer>
    <div class="row">
        <div class="col-lg-12">
            <p style="text-align: center">Copyright © yangtao.lyt 2016 QQ:645774075</p>
        </div>
    </div>
</footer>

</div>


<script>
    $(".logout").click(function () {
        $("#logoutForm").submit();
    });
</script>


</body>
</html>