<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>形象</title>


    <link rel="stylesheet" id="dw-minion-main-css" href="/css/dw-minion.min.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/modernizr.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-migrate.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/dw-minion.min.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <link rel="stylesheet" href="/css/designit.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>

</head>
<body class="home blog group-blog">
<div id="page" class="hfeed site" >
    <div class="container clearfix">

        #parse("left.vm")

        <div id="main" class="site-main" style="min-height: 568px;">
            <div class="site-main-inner">
                <div class="container clearfix">
                    $screen_content

                    #parse("right.vm")

                </div>
            </div>
        </div>

        #parse("footer.vm")
    </div>
</div>


</body>
</html>