<div id="actions" class="site-actions clearfix">
    <div class="action show-site-nav">
        <i class="icon-reorder"></i>
    </div>
    <div class="clearfix actions">
        <div class="action search">
            <form action="/webSiteQuery" class="action searchform" method="post">
                <input type="hidden" name="${_csrf.parameterName}"
                       value="${_csrf.token}">
                <input type="text" placeholder="请输入" id="s" name="keyword" class="search-query">
                <label for="s"></label>
            </form>
        </div>

        <div class="action socials">
            <i class="icon-link active-socials"></i>
            <ul class="unstyled list-socials clearfix" style="width: 240px;">


                <li class="social"><a href="/admin/blog/edit/standard" title="写文章"><i class="fa fa-pencil"></i></a>
                </li>
                #if($loginUser.isLogin())
                    <li class="social"><a href="/user/$loginUser.id" title="个人主页"><i class="fa fa-home"></i></a>
                    </li>

                    <li class="social"><a href="/admin/user" title="用户管理"><i class="fa fa-user"></i></a>
                    </li>
                    <li class="social"><a href="#" class="logout"><i class="fa fa-remove"></i></a>
                    </li>
                #else
                    <li class="social"><a href="/login" title="登陆"><i class="fa fa-location-arrow"></i></a>
                    </li>
                    <li class="social"><a href="/register" title="注册"><i class="fa fa-user-md"></i></a>
                    </li>
                #end

            </ul>
        </div>

    </div>
</div>