<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="container">
        <div class="site-info">
            <a href=""  rel="generator">Proudly powered by yangtao.lyt</a>
            <span class="sep">.</span>QQ: 645774075
        </div>
    </div>
</footer>