#*用户信息导航*#

<div id="navigation" class="site-nav" style="display: block;">
    <div class="site-nav-inner">
        <div class="container">
            <header id="masthead" class="site-header" role="banner">
                <h1 class="site-title display-logo">
                    <a href="#" title="DW Minion" rel="home">
                        <img alt="DW Minion" src="$!user.iconUrl">
                    </a>
                </h1>
                <p class="site-subtitle">$!user.nickName</p>
                <h2 class="site-description">$!user.description</h2>
            </header>

            <div id="main-sidebar" class="widget-area" role="complementary">
                <aside id="nav_menu-2" class="widget widget_nav_menu">
                    <div class="menu-main-menu-container">
                        <ul id="menu-main-menu" class="menu">
                            <li id="menu-item-113"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-113">
                                <a href="/user/$!user.id">主页</a></li>
                            <li id="menu-item-97"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a
                                    href="/user/$!user.id/aboutme">关于我</a></li>
                            <li id="menu-item-114"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-114">
                                <a href="/blog/edit">写文章</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-191"
                                        class="menu-item menu-item-type-post_type menu-item-object-post menu-item-191">
                                        <a href="http://demo.designwall.com/dw-minion/2013/06/20/the-inside-secrets-of-millionaires-under-the-age-of-29/">通用</a>
                                    </li>
                                    <li id="menu-item-192"
                                        class="menu-item menu-item-type-post_type menu-item-object-post menu-item-192">
                                        <a href="http://demo.designwall.com/dw-minion/2013/06/16/responsive-wordpress-themes/">技术</a>
                                    </li>
                                    <li id="menu-item-193"
                                        class="menu-item menu-item-type-post_type menu-item-object-post menu-item-193">
                                        <a href="http://demo.designwall.com/dw-minion/2013/05/28/finally-an-acne-cream-that-actually-does-what-it-says/">生活</a>
                                    </li>
                                    <li id="menu-item-194"
                                        class="menu-item menu-item-type-post_type menu-item-object-post menu-item-194">
                                        <a href="http://demo.designwall.com/dw-minion/2013/04/26/unlock-the-secrets-of-selling-high-ticket/">感悟</a>
                                    </li>
                                    <li id="menu-item-195"
                                        class="menu-item menu-item-type-post_type menu-item-object-post menu-item-195">
                                        <a href="http://demo.designwall.com/dw-minion/2013/03/14/take-advantage-of-the-stock-market/">关注</a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-112"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112">
                                <a href="/user/$!user.id/contact">联系我</a></li>
                        </ul>
                    </div>
                </aside>

                <aside id="categories-2" class="widget widget_categories">
                    <h3 class="widget-title">文章分类</h3>
                    <ul>
                        #foreach($metadata in $!metadataList)
                            <li class="cat-item"><a
                                    href="http://demo.designwall.com/dw-minion/category/creativity/">$!metadata.name</a>
                            </li>
                        #end
                    </ul>
                </aside>
                <aside id="meta-2" class="widget widget_meta">
                    <h3 class="widget-title">个人作品</h3>
                    <ul>
                        #foreach($ext in $!userExtList)
                            <li><a href="$!ext.extValue" target="_blank">$!ext.extName</a></li>
                        #end

                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div>

<div id="actions" class="site-actions clearfix">
    <div class="action show-site-nav">
        <i class="icon-reorder"></i>
    </div>
    <div class="clearfix actions">
        <div class="action search">
            <form action="" class="action searchform">
                <input type="text" placeholder="请输入" id="s" name="s" class="search-query">
                <label for="s"></label>
            </form>
        </div>

    </div>
</div>