<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freturn.tech.dal.dao.UserExtInfoDOMapper" >
  <resultMap id="UserExtInfoResultMap" type="com.freturn.tech.dal.dataobject.UserExtInfoDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_nick_name" property="userNickName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="ext_name" property="extName" jdbcType="VARCHAR" />
    <result column="ext_value" property="extValue" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, user_id, user_nick_name, type, ext_name, ext_value, 
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="UserExtInfoResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_ext_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_ext_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.freturn.tech.dal.dataobject.UserExtInfoDO" >
    insert into user_ext_info (<include refid="Base_Column_List"/> )
    values (#{id,jdbcType=BIGINT}, now(), now(),
      #{userId,jdbcType=VARCHAR}, #{userNickName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
      #{extName,jdbcType=VARCHAR}, #{extValue,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.freturn.tech.dal.dataobject.UserExtInfoDO" >
    update user_ext_info
    set
      gmt_modified = now(),
      user_nick_name = #{userNickName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      ext_name = #{extName,jdbcType=VARCHAR},
      ext_value = #{extValue,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryByUserId" resultMap="UserExtInfoResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from user_ext_info
    where user_id=#{userId, jdbcType=VARCHAR}
  </select>


  <delete id="deleteByUserId" parameterType="java.lang.String" >
    delete from user_ext_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByUserIdAndExtName">
    delete from user_ext_info
    where user_id = #{userId,jdbcType=VARCHAR} and ext_name=#{extName, jdbcType=VARCHAR}
  </delete>


</mapper>