<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<aop:aspectj-autoproxy/>
	<bean class="com.freturn.tech.aop.ExceptionAop"/>

	<!--静态资源映射-->
	<mvc:annotation-driven />
	<mvc:resources mapping="/css/**"
				   location="/assets/css/"/>
	<mvc:resources mapping="/js/**"
				   location="/assets/js/"/>
	<mvc:resources mapping="/img/**"
				   location="/assets/img/"/>
	<mvc:resources mapping="/fonts/**"
				   location="/assets/inc/font-awesome/font/"/>
	<mvc:resources mapping="/login/**"
				   location="/assets/login/"/>

	<mvc:default-servlet-handler />


	<context:component-scan base-package="com.freturn.tech.controller"/>

	<!--视图层解析器配置-->
	<import resource="view-config/velocity-view-config.xml"/>






</beans>