<style type="text/css">
    .brief-item {
        background-color: white;
        padding: 10px;
        margin-bottom: 10px;
    }

</style>


<div class="row">
    <div class="col-md-9" style="margin-top:40px;">


        <div class="brief-item row">

            <div class="page-header">
                <h3>单例模式分析</h3>

                <div class="small">
                    <span class="glyphicon glyphicon-time" style=" margin:3px"></span> 2015-09-30 11:40:39
                    <span class="glyphicon glyphicon-map-marker" style=" margin:3px"></span> 四川省成都市天府五街KFC
                </div>
            </div>


            <div>
                <p>
                    Bootstrap，来自 Twitter，是目前很受欢迎的前端框架。B
                    ootstrap 是基于 HTML、CSS、JAVASCRIPT 的，它简洁灵活
                    ，使得 Web 开发更加快捷。[1] 它由Twitter的设计师Mark
                    Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。Bootstrap提供了优雅的HTML和CSS规范，
                    它即是由动态CSS语言Less写成。Bootstrap一经推出后颇受欢迎，一直是GitHub上的热门开源项目，
                    包括NASA的MSNBC（微软全国广播公司）的Breaking News都使用了该项目。[2] 国内一些移动开发者较为熟悉的框架，
                    如WeX5前端开源框架等，也是基于Bootstrap源码进行性能优化而来...
                    Bootstrap，来自 Twitter，是目前很受欢迎的前端框架。B
                    ootstrap 是基于 HTML、CSS、JAVASCRIPT 的，它简洁灵活
                    ，使得 Web 开发更加快捷。[1] 它由Twitter的设计师Mark


                </p>

                <img src="/img/lyt.jpeg" alt="...">

            </div>

        </div>


        <div>
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/img/lyt.jpeg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        江湖人称"天脉",伟大的社会主义接班人
                    </div>
                </li>
            </ul>
        </div>

    </div>


    <div class="col-md-3 sidebar" style="margin-top:40px;">
        <div class="toplist">
            <img src="/img/lyt.jpeg" alt="..." style="max-height: 200px">

            <div class="caption">
                <h3>李洋涛</h3>

                <p>江湖人称"天脉",伟大的社会主义接班人</p>
            </div>
        </div>
        <div class="toplist">
            <h4><span class="label label-danger">相似文章</span></h4>

            <div style="background-color:white;padding-left:10px; ">
                <span class="glyphicon glyphicon-volume-up" style="color:red"></span>
                ：
                <span>
                    此功能暂未开放
                </span>
            </div>

        </div>
        <div class="toplist">
            <h4><span class="label label-danger">精彩评论</span></h4>

            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/img/lyt.jpeg" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    这篇文章写得很好
                </div>
            </div>
        </div>

    </div>


</div>


